$color-text-heading: #161a1a;
$color-text: #2d3436;
$color-text-inverse: #fff;
$color-body-bg: #fafafa;
$color-item-bg: #fff;
$color-primary: #065895;
$color-secondary: #636e72;
$color-danger: #d63031;
$color-table-heading: #b2bec3;
