@import "colors";

body {
  padding-top: 70px;
  padding-bottom: 30px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.4286;
  color: $color-text;
  background-color: $color-body-bg;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.tasks {
  padding: 0;
  margin: 0;
  list-style: none;
}

.task {
  justify-content: space-between;
}

.task:last-child {
  border-bottom: none;
}

#dashboard-search {
  margin-top: 10px;
}

#dashboard-nav .nav > li > a {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 10px;
  font-size: 130%;
}

#dashboard-nav a.active {
  color: $color-text-inverse;
  background-color: $color-primary;
}

#dashboard-nav h1 {
  margin-top: 10px;
  font-size: 130%;
  font-weight: bold;
}
